.header {
	width: 100%;
	height: 200px;
}

.header__top {
	display: flex;
	justify-content: space-between;
}

.logo-text {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-left: 60px;
	font-family: Verdana, Geneva, sans-serif;
	color: #7f7f7f;
}

.toggle-theme {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-right: 60px;
}

.toggle-theme__text {
	font-family: Verdana, Geneva, sans-serif;
	padding-right: 5px;
	color: #7f7f7f;
}

.toggle-theme__input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-theme__label {
	position: relative;
    cursor: pointer;
    width: 80px;
    height: 40px;
    background: #bce0fd;
    display: block;
    border-radius: 100px;
}

.toggle-theme__label:after {
	position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.toggle-theme__input:checked + .toggle-theme__label {
    background: white;
}

.toggle-theme__input:checked + .toggle-theme__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: #bce0fd;
}

.toggle-theme__label:active:after {
    width: 50px;
}

.add-task {
	padding-left: 60px;
	padding-top: 20px;
}

.add-task__text {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #2699fb;
	padding-bottom: 5px;
}

.add-task__input {
	width: 300px;
	height: 34px;
	border: 2px solid #bce0fd;
	border-radius: 10px;
	background-color: #f1f9ff;
	margin-right: 10px;
	text-indent: 10px;
	color: #2699fb;
}

.add-task__input:focus {
	border: 2px solid #93cdfc;
	outline: none;
	background-color: #e4f2fd;
	text-indent: 10px;
	color: #2699fb;
}

.add-task__input:focus::-webkit-input-placeholder {
	color: transparent;
}

.add-task__input::placeholder {
	font-family: Verdana, Geneva, sans-serif;
	color: #2699fb;
}


.add-task__button {
	width: 34px;
	height: 34px;
	border: none;
	border-radius: 50%;
	background-color: #2699fb;
}

.add-task__button:hover {
	background-color: #0c8efd;
}

.add-task__button:active {
	background-color: #0279de;
}

.add-task__button-text {
	color: white;
}