.logo-text {
	color: #7f7f7f;
}

.toggle-theme__text {
	color: #7f7f7f;
}

.toggle-theme__label {
    background: #bce0fd;
}

.toggle-theme__label:after {
    background: #fff;
}

.toggle-theme__input:checked + .toggle-theme__label {
    background: white;
}

.toggle-theme__input:checked + .toggle-theme__label:after {
    background: #bce0fd;
}

.add-task__text {
	color: #2699fb;
}



.add-task__input {
	border: 2px solid #bce0fd;
	background-color: #f1f9ff;
	color: #2699fb;
}

.add-task__input:focus {
	border: 2px solid #93cdfc;
	background-color: #e4f2fd;
	color: #2699fb;
}

.add-task__input:focus::-webkit-input-placeholder {
	color: transparent;
}

.add-task__input::placeholder {
	color: #2699fb;
}


.add-task__button {
	background-color: #2699fb;
}

.add-task__button:hover {
	background-color: #0c8efd;
}

.add-task__button:active {
	background-color: #0279de;
}

.add-task__button-text {
	color: white;
}

.card {
	border: 2px solid #7fc4fd;
}

.card__header {
	color: #7f7f7f;
}

.task {
	background-color: #f1f9ff;
}

.task__header {
	color: #2699fb;
}

.task__description, .task__date-text, .task__date-value, 
.task__responsible, .task__responsible-name, .task__took-time, .task__took-time-value {
	color: #2699fb;
}

.task__edit, .task__add {
	background-color: transparent;
}