@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin-right: 30px;
}

.wrapper {
    max-width: 1177px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header {
    height: 220px;
}


.header-content {
    margin: 0 auto;
    padding: 55px 0px;
    width: 100%;
}

.hearder-title {
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    margin-bottom: 55px;
}

#navbarTogglerDemo02 {
    margin: 0 auto;
    margin-right: -32px;
}

.header_navv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_navv ul li:not(:first-child):not(:last-child) {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.header_navv ul li:first-child {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.header_navv ul li:last-child {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.navbar {
    display: none;
}

.hearder-title-two {
    display: none;
}



/* home */


.home h3 {
    margin: 0;
    font-size: 72px;
    font-family: 'Raleway', sans-serif;
    color: white;
    line-height: 1.167;
    text-shadow: 0 1px 5.76px rgba(0, 0, 0, 0.13);
    margin-bottom: 40px;
}

.carousel-caption {
    max-width: 480px;
    margin: 0 auto;
}

.home-button {
    width: 99px;
    height: 27px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #FF7931;
    border: none;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.carousel-item img {
    max-height: 500px;
}

.minislider {
    display: none;
}






