.header {
	width: 100%;
	height: 200px;
}

.header__top {
	display: flex;
	justify-content: space-between;
}

.logo-text {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-left: 60px;
	font-family: Verdana, Geneva, sans-serif;
}

.toggle-theme {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-right: 60px;
}

.toggle-theme__text {
	font-family: Verdana, Geneva, sans-serif;
	padding-right: 5px;
}

.toggle-theme__input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-theme__label {
	position: relative;
    cursor: pointer;
    width: 80px;
    height: 40px;
    display: block;
    border-radius: 100px;
}

.toggle-theme__label:after {
	position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    transition: 0.3s;
}

.toggle-theme__input:checked + .toggle-theme__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.toggle-theme__label:active:after {
    width: 50px;
}

.add-task {
	padding-left: 60px;
	padding-top: 20px;
}

.add-task__text {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	padding-bottom: 5px;
}

.add-task__input {
	width: 300px;
	height: 34px;
	border-radius: 10px;
	margin-right: 10px;
	text-indent: 10px;
}

.add-task__input:focus {
	outline: none;
	text-indent: 10px;
}

.add-task__input::placeholder {
	font-family: Verdana, Geneva, sans-serif;
}


.add-task__button {
	width: 34px;
	height: 34px;
	border: none;
	border-radius: 50%;
}

.add-task__button :hover {
	cursor: pointer;
}

.main {
	padding-left: 100px;
	padding-right: 100px;
}

.cards {
	display: grid;
   	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   	grid-row-gap: 3rem;
   	justify-items: center;
}

.card {
	width: 260px;
	height: 650px;
	border-radius: 10px;
}

.card__header {
	padding-top: 40px;
	padding-left: 30px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16pt;
}

.task {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 200px;
	height: 230px;
	border-radius: 10px;
}

.task__header {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	padding-left: 12px;
	padding-top: 12px;
}

.task__description {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9pt;
	padding-left: 12px;
	padding-top: 20px;
}

.task__date-text, .task__responsible, .task__took-time {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	padding-left: 12px;
	padding-top: 6px;
}

.task__date-value, .task__responsible-name, .task__took-time-value {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9pt;
	padding-left: 12px;
	padding-top: 6px;
}

.task__buttons {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.task__edit, .task__add {
	border: none;
}

.task__edit, .task__add :hover {
	cursor: pointer;
}

.task__edit-img, .task__add-img {
	width: 34px;
}

.task__edit-img {
	padding-right: 6px;
}