h1 {
	text-align: center;
}

.container {
	display: flex;
	border: 1px solid black;
	margin: 10px;
}

.container2 {
	width: 300px;
}

.container3 {
	justify-content: flex-start;
}

.container4 {
	justify-content: center;
}

.container5 {
	justify-content: flex-end;
}

.container6 {
	justify-content: space-around;
}

.container7 {
	justify-content: space-between;
}

.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	margin: 5px;
	background-color: #03A9F4;
	color: white;
	font-size: 24px;
	font-family: "Gill Sans", sans-serif;
}

.rectangle:nth-child(2n+1) {
	background-color: #FFC107;
}

.direction {
	flex-direction: row;
}

.direction2 {
	flex-direction: row-reverse;
}

.direction3 {
	flex-direction: column;
}

.direction4 {
	flex-direction: column-reverse;
}

.wrap {
	flex-wrap: nowrap;
}

.wrap2 {
	flex-wrap: wrap;
}