* {
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
  color: white;
  width: 100%;
  height: 200px;
  background-color: red;
}
.item ul {
  list-style: none;
}

.first:hover {
  background-color: #e53935;
  height: 250px;
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  color: black;
}
.first:hover ul {
  list-style: square;
}