* {
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans", sans-serif;
  font-size: 24pt;
  color: white;
  width: 100%;
  height: 200px;
  background-color: #f25413;
  font-weight: 500;
}
.item ul {
  list-style: none;
}

.first:hover, .third:hover {
  background-color: color-lighten(red, 10%);
  height: 250px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30pt;
  color: black;
}
.first:hover ul, .third:hover ul {
  list-style: square;
}

.second {
  background-color: #85b801;
}

.third {
  background-color: #01a4f3;
}

.fourth {
  background-color: #ffb901;
}

li > a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.item + a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}