.container h1 {
    text-align: center;
}

.container div {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.header div {
    display: flex;
    align-items: center;
}

.header span {
    margin-right: 5px;
}

.header button {
    margin: 2px;
}


.btn-small-font {
    font-size: 10pt;
    border: 1px solid black;
}

.btn-middle-font {
    font-size: 12pt;
    border: 1px solid black;
}

.btn-large-font {
    font-size: 16pt;
    border: 1px solid black;
}

.small-font {
    font-size: 10pt;
}

.middle-font {
    font-size: 12pt;
}

.large-font {
    font-size: 16pt;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}


.switch-field[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-placeholder {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: gray;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switch-placeholder:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.switch-field:checked + .switch-placeholder {
    background: white;
}

.switch-field:checked + .switch-placeholder:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
    background: gray;
}

.switch-placeholder:active:after {
    width: 50px;
}