h1 {
	text-align: center;
}

.container {
	display: grid;
 	grid-template-columns: 25% 50% 25%;
 	justify-items: center;
}

.rectangle {
	width: 50px;
	height: 50px;
	background-color: #29B6F6;
}

.rectangle:nth-child(2n+1) {
	background-color: #66BB6A;
}

.gap {
	grid-row-gap: 5px;
}



.container2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 200px);
}

.rectangleTwo {
	width: 100%;
	height: 100%;
	background-color: #29B6F6;
}

.rectangleTwo:nth-child(2n+1) {
	background-color: #66BB6A;
}

.gap2 {
	grid-column-gap: 5px;
}

.rectangle1 {
	grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.rectangle2 {
	grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.rectangle3 {
	grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.rectangle4 {
	grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.container3 {}