* {
	margin: 0%;
	padding: 0%;
}

html {
	overflow: hidden;
}

.scene {
	height: 100vh;
	width: 100vw;
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
    background-color: #162452;
}

.earth-moon-system {
	position: absolute;
	top: 15%;
	left: 30%;
}

.earth {
	position: relative;
	width: 670px;
	z-index: 2;
	animation: 10s explosion linear;
	animation-fill-mode: forwards;
}

.moon {
	position: absolute;
	top: -55px;
	left: -55px;
	animation: 10s orbita linear;
	animation-fill-mode: forwards;
	z-index: 1;
}

.star {
	position: fixed;
	width: 4px;
	height: 4px;
	background: #6e97e9;
	border-radius: 100%;
	z-index: 0;
	animation: pulseStar 2s infinite alternate;
}

.meteorite {
	position: absolute;
	top: -600px;
	left: 600px;
	animation: filling 10s linear infinite;
}

@keyframes orbita {
       0% {width: 140px; z-index: 3;}
       12% {top: 270px; left: 270px; width: 200px;}
       25% {top: 575px; left: 575px; width: 140px;}
       32% {z-index: 1;}
       38% {top: 330px; left: 330px; width: 80px;}
       49% {top: -50px; left: -50px; width: 140px; transform: rotate(360deg); z-index: 1;}
       50% {z-index: 3;}
       62% {top: 270px; left: 270px; width: 200px;}
       75% {top: 575px; left: 575px; width: 140px;}
       82% {z-index: 1;}
       88% {top: 330px; left: 330px; width: 80px;}
       89% {transform: scale(1);}
       90% {transform: scale(0);}
       100% {transform: scale(0);}
}

@keyframes explosion {
	77% {transform: scale(1);}
	99.9% {transform: scale(1.5);}
	100% {transform: scale(0);}
}

@keyframes pulseStar {
  from { box-shadow:0px 0px 0px 0px rgba(255, 255, 255, 0.1); }
  to { box-shadow:0px 0px 0px 4px rgba(255, 255, 255, 0.1); }
}

@keyframes filling {
	20%, 100% {
    	transform: translate(2000px, 2000px);
  }
}