* {
	margin: 0%;
	padding: 0%;
}

.scene {
	height: 100vh;
	width: 100vw;
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
    background-color: #162452;
    overflow: hidden;
}

.earth-moon-system {
	position: absolute;
	top: 15%;
	left: 30%;
}

.earth {
	position: relative;
	width: 670px;
}

.moon {
	position: absolute;
	top: -55px;
	left: -55px;
}