body {
  font-family: 'Arial';
  padding: 4rem;
}

h1, p {
	text-align: center;
}

p {
	font-size: 24px;
}

.container {
	display: grid;
 	grid-template-columns: 25% 50% 25%;
 	justify-items: center;
}

.rectangle {
	width: 50px;
	height: 50px;
	background-color: #29B6F6;
}

.rectangle:nth-child(2n+1) {
	background-color: #66BB6A;
}

.gap {
	grid-row-gap: 5px;
}


.container2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 200px);
}

.rectangleTwo {
	width: 100%;
	height: 100%;
	background-color: #29B6F6;
}

.rectangleTwo:nth-child(2n+1) {
	background-color: #66BB6A;
}

.gap2 {
	grid-column-gap: 5px;
}

.rectangle1 {
	grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.rectangle2 {
	grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.rectangle3 {
	grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.rectangle4 {
	grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.container3 {
  	display: grid;
  	grid-template-columns: 0.2fr 0.8fr;
  	grid-template-rows: 100px 600px 100px;
  	grid-gap: 1rem;
}

.header {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

.main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.aside {
	grid-column: 1 / 2;
	grid-row: 2 / 4;
}

.footer {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}


.rectangle-a {
	grid-area: header;
}
.rectangle-b {
	grid-area: aside;
}
.rectangle-c {
  	grid-area: main;
}
.rectangle-d {
  	grid-area: footer;
}

.container4 {
	display: grid;
  	grid-template-columns: 0.2fr 0.8fr;
  	grid-template-rows: 100px 600px 100px;
  	grid-gap: 1rem;
  	grid-template-areas:
		'header header header header'
		'aside main main main'
		'aside footer footer footer';
	align-content: center;
	height: 1280px;
	background-color: #FFFFAA;
}


.container5 {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-gap: 1rem;
  grid-auto-rows: 100px;
  grid-template-areas:
    'header header header header'
    'header header header header'
    'aside main main main'
    'footer footer footer footer';
    align-items: start;
}


.rectangle-color {
	background-color: #29B6F6;
}

.container6 {
	display: grid;
	grid-gap: 1rem;
	height: 50vh;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
