h1, h2 {
	text-align: center;
}

.container {
	display: flex;
	border: 1px solid black;
	margin: 10px;
}

.direction {
	flex-direction: row;
}

.direction2 {
	flex-direction: row-reverse;
}

.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	margin: 5px;
	background-color: #03A9F4;
	color: white;
	font-size: 24px;
	font-family: "Gill Sans", sans-serif;
}

.rectangle:nth-child(2n+1) {
	background-color: #FFC107;
}