body {
  background-color: rgba(255, 250, 250, 0.9);
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 99vh;
	padding-left: 20px;
	padding-right: 20px;
}


.popup__wrapper {
	position: relative;
	width: 640px;
	height: 700px;
	border: 1px solid #707070;
	border-radius: 20px;
}

.popup__top {
	float: right;
	padding-right: 12px;
	padding-top: 12px;
}

.popup__close {
	border: none;
	background-color: transparent;
}


.popup__close-img {
	width: 34px;
}

.popup__body {
	position: absolute;
	top: 50%;
	left: 50%;                         
   	transform: translate(-50%, -50%);
}

input {
	width: 300px;
	height: 34px;
	border: 2px solid #bce0fd;
	border-radius: 10px;
	background-color: #f1f9ff;
	margin-right: 10px;
	text-indent: 10px;
	color: #2699fb;
	margin-top: 6px;
	margin-bottom: 30px;
}

input:focus {
	border: 2px solid #93cdfc;
	outline: none;
	background-color: #e4f2fd;
	text-indent: 10px;
	color: #2699fb;
}

label {
	font-family: Verdana, Geneva, sans-serif;
	color: #2699fb;
	font-size: 10pt;
	font-weight: bold;
}

.popup__complete {
	position: relative;
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #2699fb;
}

.popup__complete-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
}

.popup__complete:hover {
	background-color: #0c8efd;
}

.popup__complete:active {
	background-color: #0279de;
}