* {
	margin: 0;
	padding: 0;
}

.body {
	max-width: 1000px;
	margin: 0 auto;
}

/* header */

.header {
	position: relative;
	height: 100px;
}

.body__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo {
	position: absolute;
	left: 0;
	margin-left: 20px;
}

.name {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 3em;
}

.header__theme {
	margin-left: 10px;
}

.header .label {
	position: absolute;
	right: 0;
	margin-right: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
}



/* main */


/* main top */

.main {
	min-height: calc(100vh - 100px - 100px);
}

.top {
	height: 100px;
}

.main__top {
	display: flex;
	justify-content: center;
	align-items: center;
}

.createTask {
	max-width: 160px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

/* main bottom */

.main__bottom {
	display: flex;
	flex-wrap: wrap;
}

/* small */
.small-card {
	width: 300px;
	height: 300px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	border-radius: 10px;
}

.bottom__small-card {
	text-align: center;
	margin: 10px;
}

.small-card .text-task {
	max-width: 260px;
	height: 200px;
	overflow: auto;
}

.small-card__text-task {
	margin: 20px 20px 20px 20px;
}

.small-card .delete-card {
	max-width: 260px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

/* middle */
.middle-card {
	width: 600px;
	height: 300px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	border-radius: 10px;
}

.bottom__middle-card {
	text-align: center;
	margin: 10px;
}

.middle-card .text-task {
	max-width: 580px;
	height: 200px;
	overflow: auto;
}

.middle-card__text-task {
	margin: 20px 20px 20px 20px;
}

.middle-card .delete-card {
	max-width: 560px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

/* big */

.big-card {
	width: 900px;
	height: 300px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	border-radius: 10px;
}

.bottom__big-card {
	text-align: center;
	margin: 10px;
}

.big-card .text-task {
	max-width: 880px;
	height: 200px;
	overflow: auto;
}

.big-card__text-task {
	margin: 20px 20px 20px 20px;
}

.big-card .delete-card {
	max-width: 860px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

/* footer */

.footer {
	height: 100px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.body__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* modal */

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.window {
	width: 400px;
	height: 500px;
	border-radius: 10px;
}

.desc {
	width: 360px;
	height: 300px;
	resize: none;
	overflow: auto;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.window__desc {
	margin: 20px;
}

.importance {
	width: 360px;
	height: 70px;
}

.window__importance {
	margin: 0px 20px 20px 20px;
}

.window__bottom-window {
	display: flex;
	justify-content: center;
}

.add-task {
	max-width: 170px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

.close-modal {
	max-width: 170px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

.bottom-window__add-task {
	margin-right: 20px;
}





