* {
	margin: 0;
	padding: 0;
}

.body {
	max-width: 1000px;
	margin: 0 auto;
}

/* header */

.header {
	position: relative;
	height: 100px;
	border: 1px solid black;
}

.body__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo {
	position: absolute;
	left: 0;
	margin-left: 20px;
}

.header__theme {
	position: absolute;
	right: 0;
	margin-right: 20px;
}

/* main */


/* main top */

.main {
	min-height: calc(100vh - 100px - 100px);
}

.top {
	height: 50px;
	border: 1px solid black;
}

.main__top {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* main bottom */

.main__bottom {
	display: flex;
	flex-flow: wrap;
	padding: 40px;
}

/* small */
.small-card {
	height: 300px;
	width: 300px;
	outline: 1px solid black;
	outline-offset: -1px;
}

.bottom__small-card {
	text-align: center;
}

.small-card .text-task {
	width: 280px;
	height: 240px;
	overflow: auto;
}

.small-card__text-task {
	margin: 10px 0px 10px 0px;
}

.delete-card {
	width: 120px;
	height: 20px;
}

/* middle */
.middle-card {
	height: 300px;
	width: 600px;
	outline: 1px solid black;
	outline-offset: -1px;
}

.bottom__middle-card {
	text-align: center;
}

.middle-card .text-task {
	width: 580px;
	height: 240px;
	overflow: auto;
}

.middle-card__text-task {
	margin: 10px 0px 10px 0px;
}

/* big */

.big-card {
	height: 300px;
	width: 900px;
	outline: 1px solid black;
	outline-offset: -1px;
}

.bottom__big-card {
	text-align: center;
}

.big-card .text-task {
	width: 880px;
	height: 240px;
	overflow: auto;
}

.big-card__text-task {
	margin: 10px 0px 10px 0px;
}

/* footer */

.footer {
	height: 100px;
	border: 1px solid black;
}

.body__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

