@import "mixins";

$font-weights: ("regular": 400, "medium": 500, "bold": 700);

* {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
}

.item {
	@include centering;
	@include font(24pt);
	width: 100%;
	height: 100px * 2;
	background-color: #f25413;
	font-weight: map-get($font-weights, "medium"); 

	ul {
		list-style: none;
	}
}

.first {
	&:hover {
		background-color: color-lighten(red, 10%);
		height: 250px;
		@include font(30pt, black);

		ul {
			list-style: square;
		}
	}
}

.second {
	background-color: #85b801;
}

.third {
	@extend .first;
	background-color: #01a4f3;
}

.fourth {
	background-color: #ffb901;
}

li > a {
	text-decoration-line: none;
}

.item + a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration-line: none;
}