.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.fb {
    background-color: #4267B2;
}

.tw {
    background-color: #1DA1F2;
}

.vk {
    background-color: #2787F5;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pagination {
    display: block;
}

.pagination li {
    float: left;
    list-style: none;
}

.pagination a {
    padding: 8px 16px;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.pagination a.active {
    background-color: #C5E1A5;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.comment {
    width: 400px;
    background-color: #00BCD4;
    color: white;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.author, .date {
    margin: 0;
    padding: 0.3em;
    font-size: 90%;
}
.author {
    float: left;
    color: #d32f2f;
}

.author:hover {
    color: #b71c1c;
    text-decoration: none;
}
.text {
    margin: 0;
    background-color: white;
    color: black;
    border: 2px solid #00BCD4;
    border-top: none;
    padding: 1em;
}

.date {
    float: right;
}